@font-face {
        font-family: 'planet-kosmos.ttf';
        src: url('./fonts/planet-kosmos.ttf') format('truetype');
}
@font-face {
        font-family: 'Tracer';
        src: url('./fonts/tracercondital.ttf') format('truetype');
}
body{
    background-color: black;
}
h1{
   background-color:#6A0DAD; 
    color: oklab(89.567% -0.18122 0.18486);
    text-align: center;
    font-family: 'planet-kosmos.ttf', sans-serif;
    font-size: 100px ;
    border-radius: 5px;
}
p{
    color: oklab(89.567% -0.18122 0.18486);
    font-size: 20px;
    font-family: 'planet-kosmos.ttf', sans-serif;
    text-align: center;
    margin: 50px;
}
p{
    text-align: justify;
    font-family: 'tracercondital.ttf', sans-serif;
    font-size: 20px;
    margin: 50px;
color: oklab(89.567% -0.18122 0.18486);
}
footer{
    color: oklab(89.567% -0.18122 0.18486);
    font-family: 'tracercondital.ttf', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 20px;
a{
    color:#6A0DAD;
    font-family: 'tracercondital.ttf', sans-serif;
    font-size: 20px;
    margin: 1px;
    text-align: center;
    display: inline;
    text-decoration: none;
}
}
